@model HouseCompany.Web.Models.LogOnViewModel

@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container admin_intrance">
    <div class="row">
        <div class="col-md-offset-5">
            <p>Пожалуйста, введите логин и пароль для входа:</p>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.EditorForModel()
                <br />
                <p><input type="submit" class="btn btn-success" value="Войти" /></p>
            }
        </div>
    </div>
</div>